# Copy this file to `.env.local` for source-based local development.

# Website development
OPENTOGGL_WEB_PROXY_TARGET=http://127.0.0.1:8080

# API runtime
OPENTOGGL_SERVICE_NAME=opentoggl-api
OPENTOGGL_API_LISTEN_ADDRESS=:8080
OPENTOGGL_API_DATABASE_DSN=postgres://opentoggl@localhost/opentoggl
OPENTOGGL_API_REDIS_ADDRESS=redis://127.0.0.1:6379/0
OPENTOGGL_FILESTORE_NAMESPACE=opentoggl
OPENTOGGL_JOBS_QUEUE_NAME=default
